/* Copyright 2013 Zachary Doll */

.ItemBadge .BadgePhoto { 
   float: left;
   width: 40px;
   height: 40px;
}
.ItemBadge .ItemContent {
   padding-left: 55px;
   min-height: 40px;
}
.ItemBadge .Meta {
   line-height: 1.3;
}

.BadgeGrid img {
   margin: 1px;
   vertical-align: bottom;
   height: 40px;
   width: 40px;
}