.Reactions {
  position: relative;
  font-size: 11px;
  line-height: 18px;
  margin: 15px 0 0 0;
}

.React {
  position: relative;
  top: auto;
  right: auto;
}

.ReactButton {
  display: inline-block;
  margin: 0 5px;
  line-height: 18px;
  vertical-align: top;
  position: relative;
}

.UserReactionWrap {
  position: relative;
  line-height: 1;
  display: inline-block;
  margin-right: 3px;
}

.UserReactionWrap .ReactSprite {
  position: absolute;
  right: -2px;
  bottom: -2px;
}

.Item:hover .Reactions a {
  width: inherit;
}

.DataCounts {
  margin: 5px 0;
  text-align: center;
}

.CountTotal {
  display: block;
  line-height: 100%;
  font-size: 28px;
}

.CountItemWrap {
  width: 10%;
  display: inline-block;
}

.CountItem {
  display: block;
  text-align: center;
  border: solid 2px transparent;
  padding: 4px;
  margin: 0 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  white-space: nowrap;
  overflow: visible;
}

.CountItem.Selected {
  background: rgba(55, 173, 227, 0.1);
  border: solid 2px rgba(55, 173, 227, .2);
  padding: 4px
}

.RecordReactions {
  margin-top: 15px;
}
.RecordReactions + .Reactions {
  margin-top: 0;
}

.Reactions .Count {
  font-size: 8px;
  background: #555;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-right: 4px;
  vertical-align: top;
}
.Item .Reactions > * {
  visibility: hidden;
}
.Item .Reactions > *.Visible {
  visibility: visible;
}
.Item.Open .Reactions > *,
.Item:hover .Reactions > *,
.Item .Reactions > .FlagMenu {
  visibility: visible;
}

.Reactions > a.React > .reaction {
  margin-right: 2px;
}

/* iPad/iPhone */
@media only screen and (device-width: 768px),
only screen and (max-device-width: 480px) {
  .Item .Reactions > * { visibility: visible; }
}
